@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* Helper classes
========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after,
.container:after {
  clear: both; }

.clearfix,
.container {
  *zoom: 1; }

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.topnav {
  left: 0;
  right: 0;
  top: 108px;
  z-index: 500;
  height: 50px;
  background: #fff;
  position: fixed;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
  box-shadow: 0px 1px 1px 0px rgba(192, 192, 192, 0.75); }
  .topnav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    display: table;
    list-style: none; }
    .topnav ul li {
      height: 50px;
      position: relative;
      padding: 0 10px;
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
      .topnav ul li:before {
        left: 0;
        top: 50%;
        height: 12px;
        content: " ";
        margin-top: -4px;
        position: absolute;
        border-left: 1px solid #252525; }
      .topnav ul li:first-child:before {
        display: none; }
      .topnav ul li a {
        width: 100%;
        color: #252525;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
        display: inline-block; }
        .topnav ul li a:hover {
          color: #252525;
          text-decoration: underline; }

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 19px;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  padding: 10px 32px 8px 32px;
  border-bottom: 2px solid #891400;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db6a50+0,c03622+100 */
  background: #db6a50;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiNmE1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMDM2MjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #db6a50 0%, #c03622 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db6a50), color-stop(100%, #c03622));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #db6a50 0%, #c03622 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #db6a50 0%, #c03622 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #db6a50 0%, #c03622 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #db6a50 0%, #c03622 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db6a50', endColorstr='#c03622',GradientType=0 );
  /* IE6-8 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn:hover {
    color: #fff;
    background: #c03622;
    text-decoration: none;
    border-color: #c03622; }
  .btn:active {
    top: 1px; }

.form-block {
  width: 100%;
  padding: 30px;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .form-block .row {
    width: 840px;
    margin: 0 auto 15px auto; }
    .form-block .row .col {
      float: left;
      width: 190px;
      margin: 0 10px; }

.form-detail {
  font-size: 14px;
  padding-top: 13px;
  text-align: center; }

.form-title {
  color: #2f2f2f;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', sans-serif; }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  display: block;
  color: #2f2f2f;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 10px;
  background: #f4f4f4;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #919191;
  -moz-box-shadow: inset 1px 1px 3px 0px #919191;
  box-shadow: inset 1px 1px 3px 0px #919191; }
  .form-control::-moz-placeholder {
    color: #2f2f2f;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #2f2f2f; }
  .form-control::-webkit-input-placeholder {
    color: #2f2f2f; }

.red .form-control {
  border-color: #ff0000; }

.modal-box {
  width: 400px;
  color: #252525;
  padding: 30px 30px 30px 20px;
  background: #fff; }
  .modal-box .form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .modal-box .form-group {
    position: relative;
    margin-bottom: 15px; }

.done {
  width: 400px;
  color: #252525;
  font-size: 16px;
  text-align: center;
  padding: 30px 30px 30px 20px;
  background: #fff; }
  .done .done-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }

.footer {
  color: #2e2e2e;
  font-size: 20px;
  padding: 25px 0;
  background: #fff;
  font-weight: 600; }
  .footer .col {
    float: left;
    width: 33.33%; }
  .footer .one {
    font-weight: 700;
    text-transform: uppercase; }
  .footer .tel {
    font-size: 20px;
    font-weight: 600; }
  .footer .contact-email {
    font-size: 18px;
    color: #4897df;
    text-decoration: none; }
  .footer .dev a {
    color: #c43c26;
    text-decoration: none; }

.b01 {
  height: 775px;
  position: relative;
  background: url("../img/b01_bg.jpg") top center no-repeat; }
  .b01 .logo {
    left: 15px;
    top: 15px;
    width: 128px;
    height: 75px;
    position: absolute;
    background: url("../img/logo.png") 0 0 no-repeat; }
  .b01 .contact {
    right: 15px;
    top: 20px;
    text-align: right;
    position: absolute; }
  .b01 .tel {
    color: #272626;
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px; }
  .b01 h1 {
    padding-top: 190px;
    margin-bottom: 125px; }
    .b01 h1 span {
      color: #fff;
      height: 75px;
      font-size: 42px;
      line-height: 54px;
      padding: 10px 60px;
      display: inline-block;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6bc32+0,c43c26+100 */
      background: #f6bc32;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2YmMzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNDNjMjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(left, #f6bc32 0%, #c43c26 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6bc32), color-stop(100%, #c43c26));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #f6bc32 0%, #c43c26 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #f6bc32 0%, #c43c26 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #f6bc32 0%, #c43c26 100%);
      /* IE10+ */
      background: linear-gradient(to right, #f6bc32 0%, #c43c26 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bc32', endColorstr='#c43c26',GradientType=1 );
      /* IE6-8 */ }
  .b01 .b01-list {
    margin-left: 490px; }
    .b01 .b01-list li {
      font-size: 23px;
      padding-left: 80px;
      margin-bottom: 60px; }
      .b01 .b01-list li.item1 {
        background: url("../img/b01_item1.png") 0 10px no-repeat; }
      .b01 .b01-list li.item2 {
        background: url("../img/b01_item2.png") 0 10px no-repeat; }

.b02 {
  padding: 50px 0 30px 0;
  background: url("../img/bg_pattern.jpg"); }
  .b02 ul {
    width: 100%;
    overflow: hidden; }
    .b02 ul li {
      float: left;
      width: 300px;
      height: 100px;
      display: table;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin: 0 85px 30px 85px;
      border: 4px solid #f6bc32;
      font-family: 'Roboto Condensed', sans-serif; }
      .b02 ul li:last-child .box-inner {
        padding-left: 60px; }
      .b02 ul li .box-inner {
        width: 100%;
        height: 100%;
        padding-left: 30px;
        display: table-cell;
        vertical-align: middle; }
      .b02 ul li p {
        margin-bottom: 0; }
      .b02 ul li span {
        font-size: 40px;
        line-height: 40px; }

.b03 {
  color: #fff;
  height: 445px;
  padding-top: 90px;
  background: url("../img/b03_bg.jpg") top center no-repeat; }

.b04 {
  height: 570px;
  padding-top: 130px;
  background: url("../img/b04_bg.jpg") top center no-repeat; }
  .b04 .text-box {
    padding-left: 400px; }

.b05 {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #efefef url("../img/b05_bg.png") left bottom repeat-x; }

.b06 {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff url("../img/b05_bg.png") left bottom repeat-x; }

.b07 {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #efefef; }

.b08 {
  color: #fff;
  height: 950px;
  padding-top: 70px;
  background: url("../img/b08_bg.jpg") top center no-repeat; }
  .b08 .benefit {
    width: 100%;
    display: table;
    margin-bottom: 60px; }
    .b08 .benefit li {
      width: 50%;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      display: table-cell;
      padding: 160px 30px 0 30px; }
      .b08 .benefit li.item1 {
        background: url("../img/b08_item1.png") top center no-repeat; }
      .b08 .benefit li.item2 {
        background: url("../img/b08_item2.png") top center no-repeat; }
      .b08 .benefit li.item3 {
        background: url("../img/b08_item3.png") top center no-repeat; }
      .b08 .benefit li.item4 {
        background: url("../img/b08_item4.png") top center no-repeat; }
    .b08 .benefit .benefit-title {
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif; }
    .b08 .benefit p {
      margin-bottom: 0; }

.b09 {
  padding: 60px 0 40px 0;
  background: url("../img/bg_pattern.jpg"); }
  .b09 .properties {
    height: 1030px;
    padding-top: 25px;
    background: url("../img/properties_bg.png") top center no-repeat; }
    .b09 .properties ul {
      padding: 0;
      font-size: 0;
      line-height: 0;
      text-align: center;
      margin-left: -10px;
      margin-right: -10px; }
    .b09 .properties li {
      float: left;
      width: 240px;
      height: 240px;
      color: #2f2f2f;
      font-size: 15px;
      text-align: left;
      line-height: 18px;
      padding: 0 30px;
      font-family: 'Roboto Condensed', sans-serif; }
      .b09 .properties li.item13 {
        margin-left: 240px; }
    .b09 .properties .properties-title {
      color: #c74631;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 5px;
      padding-top: 105px;
      text-transform: uppercase; }

.b10 {
  color: #fff;
  height: 498px;
  padding-top: 67px;
  background: url("../img/b10_bg.jpg") top center no-repeat; }
  .b10 h2 {
    margin-bottom: 40px; }

.b11 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff; }
  .b11 h2 {
    margin-bottom: 10px; }
  .b11 .text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif; }
  .b11 ul li {
    float: left;
    width: 264px;
    height: 340px;
    color: #2f2f2f;
    font-size: 17px;
    margin-left: 70px;
    padding-top: 280px;
    text-align: center;
    margin-bottom: 20px; }
    .b11 ul li.item1 {
      margin-left: 0;
      background: url("../img/b11_item1.jpg") top center no-repeat; }
    .b11 ul li.item2 {
      background: url("../img/b11_item2.jpg") top center no-repeat; }
    .b11 ul li.item3 {
      background: url("../img/b11_item3.jpg") top center no-repeat; }
    .b11 ul li.item4 {
      margin-left: 165px;
      background: url("../img/b11_item4.jpg") top center no-repeat; }
    .b11 ul li.item5 {
      background: url("../img/b11_item5.jpg") top center no-repeat; }

.b12 {
  height: 550px;
  padding: 60px 0;
  background: url("../img/b12_bg.jpg") top center no-repeat; }
  .b12 h2 {
    margin-bottom: 40px; }
  .b12 .certification {
    width: 912px;
    margin: 0 auto 20px auto; }
    .b12 .certification li {
      float: left;
      width: 191px;
      height: 274px;
      margin-left: 18px;
      margin-right: 19px; }

.b13 {
  color: #fff;
  height: 515px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/b13_bg.jpg") top center no-repeat; }

.b14 {
  padding: 60px 0;
  background: #fff; }
  .b14 .text-block {
    float: left;
    width: 435px;
    padding: 30px;
    font-size: 18px;
    position: relative;
    background: #efefef;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    .b14 .text-block:before {
      top: 50%;
      width: 26px;
      right: -26px;
      height: 31px;
      content: " ";
      margin-top: -16px;
      position: absolute;
      background: url("../img/arrow-right.png") 0 0 no-repeat; }
  .b14 .image-block {
    float: right;
    width: 470px; }

.b15 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../img/bg_pattern.jpg"); }
  .b15 ul {
    width: 100%;
    margin-bottom: 40px; }
    .b15 ul li {
      width: 20%;
      font-size: 15px;
      text-align: center;
      display: table-cell;
      padding: 105px 15px 0 15px; }
      .b15 ul li.item1 {
        background: url("../img/b15_item1.png") top center no-repeat; }
      .b15 ul li.item2 {
        background: url("../img/b15_item2.png") top center no-repeat; }
      .b15 ul li.item3 {
        background: url("../img/b15_item3.png") top center no-repeat; }
      .b15 ul li.item4 {
        background: url("../img/b15_item4.png") top center no-repeat; }
      .b15 ul li.item5 {
        background: url("../img/b15_item5.png") top center no-repeat; }

.b16 {
  color: #fff;
  height: 630px;
  padding-top: 60px;
  background: url("../img/b16_bg.jpg") top center no-repeat; }
  .b16 h2 {
    margin-bottom: 40px; }

/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #252525; }

body {
  font-size: 20px;
  background: #fff;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 970px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.showcase {
  text-align: center;
  margin-bottom: 5px; }
  .showcase li {
    width: 300px;
    height: 420px;
    overflow: hidden;
    display: inline-block;
    margin: 0 30px 30px 30px; }
  .showcase .showcase-title {
    width: 100%;
    height: 60px;
    color: #c43c26;
    display: table;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif; }
    .showcase .showcase-title span {
      width: 100%;
      height: 60px;
      padding: 0 25px;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle; }
  .showcase .showcase-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
  .showcase .showcase-price {
    float: left;
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 15px;
    display: inline-block; }
  .showcase .btn {
    float: right; }

.white-block {
  padding: 25px;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .white-block:before {
    left: 50%;
    top: -23px;
    width: 27px;
    height: 23px;
    content: " ";
    position: absolute;
    background: url("../img/white_block_arrow.png") 0 0 no-repeat; }

.gray-block {
  padding: 25px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  background: #efefef;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .gray-block:before {
    left: 50%;
    top: -23px;
    width: 27px;
    height: 23px;
    content: " ";
    position: absolute;
    background: url("../img/gray_block_arrow.png") 0 0 no-repeat; }

.b17 {
  position: relative; }
  .b17 #map {
    height: 500px; }
  .b17 .map-header {
    left: 0;
    right: 0;
    top: 60px;
    position: absolute; }
    .b17 .map-header h2 {
      margin-bottom: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 700; }

h1 {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif; }

h2 {
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif; }

h5 {
  font-size: 18px;
  margin-bottom: 10px; }

p {
  padding: 0;
  margin: 0 0 20px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.list {
  list-style: disc;
  padding-left: 20px; }
  .list li {
    position: relative; }

/*# sourceMappingURL=main.css.map */
